.admin
  .admin__container
    .admin__container__function
      .admin__container__function__title
        %span 管理者機能一覧
      .admin__container__function__body
        %ul
          %li
            = link_to "出品する", "#", class: "exhibition-button"
          %li
            = link_to "配送処理をする", "#", class: "delivery-button"
          %li
            = link_to "購入禁止にする", "#", class: "ban-button"
          %li
            = link_to "購入を再開する", "#", class: "restart-button"
    .admin__container__product
      .admin__container__product__title
        %span 商品一覧
      .admin__container__product__body
