.admin-index
  .admin-index__container
    .admin-index__container__function
      .admin-index__container__function__title
        %span 管理者機能一覧
      .admin-index__container__function__body
        %ul.admin-index__container__function__body__btn
          %li.admin-index__container__function__body__btn__list
            = link_to '出品する' , new_admin_path , class: "exhibition-button"
          %li.admin-index__container__function__body__btn__list
            = link_to '配送処理をする' , delivery_admins_path , class: "delivery-button"
          %li.admin-index__container__function__body__btn__list
            %a.ban-button 購入を禁止状態にする
          %li.admin-index__container__function__body__btn__list
            %a.restart-button 購入を再開状態にする
    .admin-index__container__product
      .admin-index__container__product__title
        %span 商品一覧
      .admin-index__container__product__body
        商品一覧ページが完成次第にrenderで引っ張る
