.admin
  .admin__container
    .admin__container__function
      .admin__container__function__title
        %span 管理者機能一覧
      .admin__container__function__body
    .admin__container__product
      .admin__container__product__title
        %span 商品一覧
      .admin__container__product__body
