.cp_qa
  .cp_actab
    %input{id:"cp_tabfour031" , type:"checkbox" , name:"tabs"}
    %label{for:"cp_tabfour031"} 質問テキスト
    .cp_actab-content
      %p 答えテキスト
  .cp_actab
    %input{id:"cp_tabfour032" , type:"checkbox" , name:"tabs"}
    %label{for:"cp_tabfour032"} 質問テキスト
    .cp_actab-content
      %p 答えテキスト
  .cp_actab
    %input{id:"cp_tabfour033" , type:"checkbox" , name:"tabs"}
    %label{for:"cp_tabfour033"} 質問テキスト
    .cp_actab-content
      %p 答えテキスト