.cp_qa
  .cp_actab
    %input{id:"cp_tabfour031" , type:"checkbox" , name:"tabs"}
    %label{for:"cp_tabfour031"} 着物はどちらに発送すればいいですか？
    .cp_actab-content
      %p 〒 578-0936
      %p 大阪府東大阪市花園西町1-14-11
      %p 岩内 美八重 宛
      %p までよろしくお願いいたします。
  .cp_actab
    %input{id:"cp_tabfour032" , type:"checkbox" , name:"tabs"}
    %label{for:"cp_tabfour032"} サイズは指定できますか？
    .cp_actab-content
      %p 可能です。
      %p ご購入の際にコメント欄を設けておりますので、着丈・バスト・袖丈・肩幅のご指定をよろしくお願いいたします。
      %p ※ただし、既製品につきましては製作済みのため不可です。ご了承くださいませ。
  .cp_actab
    %input{id:"cp_tabfour033" , type:"checkbox" , name:"tabs"}
    %label{for:"cp_tabfour033"} 質問テキスト
    .cp_actab-content
      %p 答えテキスト