%table.price__table
  %thead
    %tr
      %th 品名
      %th 性別
      %th 料金(税込み)
  %tbody
    %tr
      %td ジャケット
      %td 男・女
      %td 25,000円
    %tr
      %td ジャケット
      %td 男・女
      %td 25,000円
    %tr
      %td ジャケット
      %td 男・女
      %td 25,000円
    %tr
      %td ジャケット
      %td 男・女
      %td 25,000円
    %tr
      %td ジャケット
      %td 男・女
      %td 25,000円
    %tr
      %td ジャケット
      %td 男・女
      %td 25,000円
    %tr
      %td ジャケット
      %td 男・女
      %td 25,000円
    %tr
      %td ジャケット
      %td 男・女
      %td 25,000円
    %tr
      %td ジャケット
      %td 男・女
      %td 25,000円