%table.price__table
  %thead.price__table__thead
    %tr.price__table__thead__tr
      %th.price__table__thead__tr__th 品名
      %th.price__table__thead__tr__th 性別
      %th.price__table__thead__tr__th 料金(税込み)
  %tbody
    %tr
      %td テーラードジャケット
      %td 男・女
      %td 25,000円
    %tr
      %td ベスト（ダブル・シングル）
      %td 男・女
      %td 15,000円
    %tr
      %td ブルゾン
      %td 男・女
      %td 25,000円
    %tr
      %td スカート・パンツ
      %td 女
      %td 15,000円
    %tr
      %td ブラウス
      %td 女
      %td 15,000円
    %tr
      %td 半コート
      %td 女
      %td 25,000円
    %tr
      %td ワンピース
      %td 女
      %td 25,000円
    %tr
      %td アロハ風シャツ
      %td 男
      %td （未定）