%table.table__ladies
  %caption.table__ladies__caption レディースサイズ表
  %thead.table__ladies__thead
    %tr.table__ladies__thead__tr
      %th.table__ladies__thead__tr__th サイズ
      %th.table__ladies__thead__tr__th 着丈
      %th.table__ladies__thead__tr__th バスト
      %th.table__ladies__thead__tr__th 袖丈
      %th.table__ladies__thead__tr__th 肩幅
  %tbody
    %tr
      %td S
      %td 51cm
      %td 91cm
      %td cm
      %td cm
    %tr
      %td M
      %td 51cm
      %td 97cm
      %td cm
      %td cm
    %tr
      %td L
      %td 51cm
      %td 103cm
      %td cm
      %td cm
    %tr
      %td LL
      %td 51cm
      %td 109cm
      %td cm
      %td cm
    %tr
      %td 3L
      %td 51cm
      %td 115cm
      %td cm
      %td cm