%table.mens__table
  %thead.mens__table__thead
    %tr.mens__table__thead__tr
      %th.mens__table__thead__tr__th サイズ
      %th.mens__table__thead__tr__th 着丈
      %th.mens__table__thead__tr__th バスト
      %th.mens__table__thead__tr__th 袖丈
      %th.mens__table__thead__tr__th 肩幅
  %tbody
    %tr
      %td S
      %td 57cm
      %td 99cm
      %td cm
      %td cm
    %tr
      %td M
      %td 57cm
      %td 105cm
      %td cm
      %td cm
    %tr
      %td L
      %td 57cm
      %td 111cm
      %td cm
      %td cm
    %tr
      %td LL
      %td 57cm
      %td 117cm
      %td cm
      %td cm
    