.buttom
  .buttom__btn
  .buttom__contents
    %p.buttom__center__address
    〒578-0936 東大阪市花園西町1-14-11
    %ul
      %li
        Email:
        %span.email rokimo.work@gmail.com
      %li
        代表者名:
        %span.email 岩内 美八重
  = link_to root_path , class: "buttom__mail" do
    ご相談
    %br.hidden-res
    お見積り