.Form
  .Form-Item
    %p.Form-Item-Label
      %span.Form-Item-Label-Required 必須
      氏名
    %input{type:"text" , class:"Form-Item-Input" , placeholder:"例）山田 太郎"}
  .Form-Item
    %p.Form-Item-Label
      %span.Form-Item-Label-Required 必須
      フリガナ
    %input{type:"text" , class:"Form-Item-Input" , placeholder:"例）ヤマダ タロウ"}
  .Form-Item
    %p.Form-Item-Label
      %span.Form-Item-Label-Required 必須
      メールアドレス
    %input{type:"email" , class:"Form-Item-Input" , placeholder:"例）example@gmail.com"}
  .Form-Item
    %p.Form-Item-Label
      %span.Form-Item-Label-Required 任意
      電話番号
    %input{type:"text" , class:"Form-Item-Input" , placeholder:"例）090-0000-0000"}
  .Form-Item
    %p.Form-Item-Label
      %span.Form-Item-Label-Required 任意
      チェックボックス
    .Form-Item-Input.radio
      %input{type:"radio" , name:"radio" , class:"radio-input" , id:"radio-01" , checked:"checked"}
      %label{for:"radio-01"} 商品について聞きたい
      %br
      %input{type:"radio" , name:"radio" , class:"radio-input" , id:"radio-02"}
      %label{for:"radio-02"} 気軽に訪問したい
      %br
      %input{type:"radio" , name:"radio" , class:"radio-input" , id:"radio-03"}
      %label{for:"radio-03"} その他
      %br
  .Form-Item
    %p.Form-Item-Label.isMsg
      %span.Form-Item-Label-Required 必須
      お問い合わせ内容
    %textarea.Form-Item-Textarea
  %input{type:"submit" , class:"Form-Btn" , value:"送信する"}