%table.ladies__table
  %caption.mens__table__caption レディースサイズ表
  %thead.ladies__table__thead
    %tr.ladies__table__thead__tr
      %th.ladies__table__thead__tr__th サイズ
      %th.ladies__table__thead__tr__th 着丈
      %th.ladies__table__thead__tr__th バスト
      %th.ladies__table__thead__tr__th 袖丈
      %th.ladies__table__thead__tr__th 肩幅
  %tbody
    %tr
      %td S
      %td 51cm
      %td 91cm
      %td cm
      %td cm
    %tr
      %td M
      %td 51cm
      %td 97cm
      %td cm
      %td cm
    %tr
      %td L
      %td 51cm
      %td 103cm
      %td cm
      %td cm
    %tr
      %td LL
      %td 51cm
      %td 109cm
      %td cm
      %td cm
    %tr
      %td 3L
      %td 51cm
      %td 115cm
      %td cm
      %td cm