%table.table__mens
  %caption.table__mens__caption メンズサイズ表
  %thead.table__mens__thead
    %tr.table__mens__thead__tr
      %th.table__mens__thead__tr__th サイズ
      %th.table__mens__thead__tr__th 着丈
      %th.table__mens__thead__tr__th バスト
      %th.table__mens__thead__tr__th 袖丈
      %th.table__mens__thead__tr__th 肩幅
  %tbody.table__mens__tbody
    %tr.table__mens__tbody__tr
      %td.table__mens__tbody__tr__td S
      %td.table__mens__tbody__tr__td 57cm
      %td.table__mens__tbody__tr__td 99cm
      %td.table__mens__tbody__tr__td cm
      %td.table__mens__tbody__tr__td cm
    %tr.table__mens__tbody__tr
      %td.table__mens__tbody__tr__td M
      %td.table__mens__tbody__tr__td 57cm
      %td.table__mens__tbody__tr__td 105cm
      %td.table__mens__tbody__tr__td cm
      %td.table__mens__tbody__tr__td cm
    %tr.table__mens__tbody__tr
      %td.table__mens__tbody__tr__td L
      %td.table__mens__tbody__tr__td 57cm
      %td.table__mens__tbody__tr__td 111cm
      %td.table__mens__tbody__tr__td cm
      %td.table__mens__tbody__tr__td cm
    %tr.table__mens__tbody__tr
      %td.table__mens__tbody__tr__td LL
      %td.table__mens__tbody__tr__td 57cm
      %td.table__mens__tbody__tr__td 117cm
      %td.table__mens__tbody__tr__td cm
      %td.table__mens__tbody__tr__td cm
