.service__container__size__body__reference
  %h3 パンツ
  .service__container__size__body__reference__box
    .service__container__size__body__reference__box__left
      = render 'partial/home-service/table/pants/ladies'