.contact
  .contact__container
    .contact__container__question
      .contact__container__question__title
        %span よくある質問
      .contact__container__question__body
        .cp_qa
          .cp_actab
            %input{id:"cp_tabfour031" , type:"checkbox" , name:"tabs"}
            %label{for:"cp_tabfour031"} 質問テキスト
            .cp_actab-content
              %p 答えテキスト
          .cp_actab
            %input{id:"cp_tabfour032" , type:"checkbox" , name:"tabs"}
            %label{for:"cp_tabfour032"} 質問テキスト
            .cp_actab-content
              %p 答えテキスト
          .cp_actab
            %input{id:"cp_tabfour033" , type:"checkbox" , name:"tabs"}
            %label{for:"cp_tabfour033"} 質問テキスト
            .cp_actab-content
              %p 答えテキスト
    .contact__container__inquiry
      .contact__container__inquiry__title
        %span ご相談・お問い合わせ
      .contact__container__inquiry__body