-# - set_meta_tags title: '料金・サイズ一覧', keywords: "着物リメイク 料金, 着物リメイク サイズ"

.service_contents
  .service_contents__title
    %span 料金一覧
  .service_contents__fee
    .plan__contents__body__reference.inner
      %h3 ジャンルごとの参考価格