$dark-purple: #772F6D;
$midlle-purple: #BE84B8;
$light-purple: #FFF0F5;

$dark-blue: #0956c8;
$midlle-blue: #5c99f5;
$light-blue: #CCFFFF;

$dark-red: #b60000;
$midlle-red: #f34949;
$light-red: #fbaaaa;

$dark-green: #00838f;
$midlle-green: #5bc8ac;

$gray: #545454;
$light-gray: #909090;