.price__table , .mens__table , .ladies__table{
  width: 100%;

  caption{
    padding: 0.7rem 0;
    background: $dark-purple;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }

  th{
    padding: 0.7rem 0;
    background: $midlle-purple;
    color: #fff;
    font-weight: bold;
    border: 2px solid $dark-purple;
    font-size: 1rem;
    text-align: center;
  }

  .price__table__thead__tr__th:nth-of-type(1){
    width: 45%;
  }

  .price__table__thead__tr__th:nth-of-type(2){
    width: 20%;
  }

  .price__table__thead__tr__th:nth-of-type(3){
    width: 35%;
  }

  // メンズ,レディーステーブルの幅
  .mens__table__thead__tr__th , .ladies__table__thead__tr__th{
    width: 20%;
  }

  td{
    padding: 0.6rem 0;
    background: #fff;
    border: 2px solid $dark-purple;
    font-size: 0.9rem;
    text-align: center;
  }

  tr:nth-of-type(even) td{
    background: $light-purple;
  }
}