.product-index
  .product-index__container
    .product-index__container__content
      .product-index__container__content__title
        %span 商品一覧ページ
      .product-index__container__content__body
        %ul.product-index__container__content__body__ul
          %li.product-index__container__content__body__ul__item