.product-show
  .product-show__container
    .product-show__container__content
      .product-show__container__content__title
        %span 商品詳細ページ
      .product-show__container__content__body
        .product-show__container__content__body__