.product-index{

  &__container{

    &__content {
      @include container-padding-max();

      &__title{
        @include title-max();
      }

      &__body{

        &__ul{
          display: flex;
          flex-wrap: wrap;

          &__item{
            position: relative;
            padding: 1rem;
            width: 25%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px){
  .product-index{
  
    &__container {
  
      &__content{
        @include container-padding-max1023px();
      }
    }
  }
}

@media screen and (max-width: 639px){
  .product-index{
  
    &__container{
  
      &__content {
        @include container-padding-max639px();

        &__title{
          @include title-max639px();
        }
        &__body{

          &__ul{
  
            &__item{
              width: 50%;
            }
          }
      }
    }
  }
}