.product-show{

  &__container{

    &__content {
      @include container-padding-max();

      &__title{
        @include title-max();
      }

      &__body{
        margin: 0 auto;

        &__box{

          &__left{

          }

          &__right{
            
          }
        }
      }
    }
  }
}

/* service min-width: 1024px start */
@media screen and (min-width:1024px) {
  .product-show{
  
    &__container{
  
      &__content {

        &__title{

        }
        &__body{

          &__box{
            display: flex;
            flex-wrap: wrap;

            &__left{
              width: 48%;
              margin-right: 2%;
            }

            &__right{
              width: 48%;
              margin-left: 2%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px){
  .product-show{
  
    &__container {
  
      &__content{
        @include container-padding-max1023px();
      }
    }
  }
}


/* service max-width: 767px start */
@media screen and (max-width: 767px){
  .product-show{
  
    &__container{
  
      &__content {

        &__title{

        }
        &__body{

          &__box{

            &__left , &__right{
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}
/* service min-width: 767px end */


@media screen and (max-width: 639px){
  .product-show{
  
    &__container{
  
      &__content {
        @include container-padding-max639px();

        &__title{
          @include title-max639px();
        }
        &__body{

          &__box{

            &__left{
  
            }
  
            &__right{
              
            }
          }
        }
      }
    }
  }
}