.product-show{

  &__container{

    &__content {
      @include container-padding-max();

      &__title{
        @include title-max();
      }

      &__body{
        @include container-body-padding-max();

        &__box{

          &__left{

            &__main-image{
              width: 100%;

              &__one{
                padding-top: 100%;
                position: relative;
                overflow: hidden;

                img{
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }

            &__sub-image{
              
              &__ul{
                display: flex;
                margin-top: 1rem;

                &__item{
                  width: 20%;
                  position: relative;
                  overflow: hidden;
                  // border-color: $gray;
                  border: 2px solid $gray;

                  img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
              }
            }
          }

          &__right{
            
            &__price{
              margin-bottom: 1rem;
              font-size: 1.2rem;
            }

            &__form{
              padding-top: 2rem;

              &__category{
                display: flex;
  
                &__size, &__sex{

                  .select-box{
                    @include select-box();
                  }
                }
              }

              &__comment{

                .comment-area{
                  padding: 0 1em;
                  height: 108px;
                  border: 1px solid $gray;
                  border-radius: 0.4rem;
                  width: 100%;
                  margin-top: 0.5rem;
                }
              }

              .buy-button{
                margin-top: 2rem;
                background-color: $dark-red;
                @include button();
              }
            }
          }
        }
      }
    }
  }
}

/* service min-width: 768px start */
@media screen and (min-width:768px) {
  .product-show{
  
    &__container{
  
      &__content {

        &__body{

          &__box{
            display: flex;
            flex-wrap: wrap;

            &__left{
              width: 45%;
              margin-right: 5%;

              &__sub-image{
              
                &__ul{
  
                  &__item{
                    margin: 0 2px;
                  }

                  &__item:first-child{
                    margin-left: 0rem;
                  }

                  &__item:last-child{
                    margin-right: 0rem;
                  }
                }
              }
            }

            &__right{
              width: 48%;
              margin-left: 2%;

              &__form{

                &__category{

                  &__sex{
                    width: 48%;
                    margin-right: auto;
                  }

                  &__size{
                    width: 48%;
                    margin-left: auto;
                  }
                }

                &__comment{
                  margin-top: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px){
  .product-show{
  
    &__container {
  
      &__content{
        @include container-padding-max1023px();

        &__body{
  
          &__box{

            &__right{

              &__text{
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}


/* service max-width: 767px start */
@media screen and (max-width: 767px){
  .product-show{
  
    &__container{
  
      &__content {

        &__body{

          &__box{

            &__left , &__right{
              margin-bottom: 2rem;

              &__price{
                margin-bottom: 0.8rem;
              }

              &__form{
  
                &__category{
                  display: block;

                  &__size, &__sex{
                    margin-bottom: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/* service min-width: 767px end */


@media screen and (max-width: 639px){
  .product-show{
  
    &__container{
  
      &__content {
        @include container-padding-max639px();

        &__title{
          @include title-max639px();
        }
        &__body{
          @include container-body-padding-max639px();
        }
      }
    }
  }
}